.alerts {
  position: fixed;
  top: 2rem;
  width: 100%;
  margin: auto;

  .alert {
    width: 500px;
		margin: auto;
		font-size: 1.6rem;
		padding: 1.2rem;
    transition: 1s all;
    text-align: center;
		
		.close {
			font-size: 2.2rem;
		}
  }
}
