.login-form-component {
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  padding: 1.2rem;

  .title {
    font-weight: 600;
    font-size: 3rem;
  }
}

.wrapper {
  margin: 0 auto;
  width: 60vw;
}