html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Quicksand", sans-serif;
}

:root {
  --background: #{$color};
  --text: #{$accent};
}

.dark-mode {
  --background: #{$accent};
  --text: #{$color};
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
}
