<div>
  <div class="d-flex align-items-center justify-content-center h-100 w-30">
    <form action="/login" method="POST" class="form-component" autocomplete="new-password">
      <div class="form-group">
        <h2 class="title">
          Let's sign you in.
        </h2>
        <h3 class="subtitle">
          Join our team!
        </h3>
        <form>
          <div class="form-group">
            <label for="emailAccount">Email address</label>
            <input type="email" class="form-control" id="emailAccount" aria-describedby="emailHelp"
              placeholder="Enter email" autocomplete="off" name="emailAccount">
            {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
              else.</small> --}}
          </div>
          <div class="form-group">
            <label for="passwordAccount">Password</label>
            <i class="fas fa-eye input-icon"></i>
            <input type="password" class="form-control" placeholder="Password"
              autocomplete="new-password"  style="display: none;"/>
            <input type="password" class="form-control" id="passwordAccount" placeholder="Password"
              autocomplete="new-password" name="passwordAccount">
          </div>
          <span class="informative">Dont have an account? <a href="./register">Create one</a></span>
          <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
      </div>
    </form>
  </div>
</div>